
body {
	background-color: #232323;
}

#container {
	margin: 0px auto; /* Trick to center the object. Margin top and button 0px and left and right auto */
	max-width: 600px;
}

.square {
	width: 30%;
	padding-bottom: 30%; /*Have to set the padding-bottom or up to show the object on the screen - to set the size inside*/
	float: left; /*It is used to put the object inline from the left, otherwise it will be in colun at first */
	margin: 1.66%; /*from on to another*/
}

h1 {
	color: white;
}

/* #message {
	color: white;
} */

#menu {
	margin: 0px auto; 
	padding: 10px;
	background-color: aliceblue;

}

.on {
	background-color: blue;
}